@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

::-webkit-scrollbar {
  width: 0px; 
}
html{
    scroll-behavior: auto;
}
.display-1{
  font-family: 'Righteous', cursive;
  text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
}

/* Mobile */
.introduction{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color:#55423d;
    z-index: 99999;
    overflow-y: hidden;
    display: none;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: #795D55 !important;
}
.contain{
    position: fixed;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    left: 50%;
    top: 25%;
    line-height: 2.5rem !important;
    transform: translate(-50%, -50%);
    color: #290A06;
    text-shadow: 3px 3px #290a0655;
    text-align: center;
    opacity: 0;
}
.contain.geser{
  left: -100% !important;
  transition: .2s;
}
.megamendung{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url(img/Megamendung.svg);
    top: 0;
    background-size: cover;
    background-position: -200px 0px;
    opacity: 0.25;
    z-index: 1;
}
#hero{
    height: 85vh;
    background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
}
#navbar{
    position: absolute;
    top: 15vh;
    z-index: 10;
}
.bg-javanese{
    background-color: #55423d;
}

/* About */
h1.about{
  font-size: 1.5rem !important;
}
#about{
    background-color: #55423d;
    color: #fffffe;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: .8rem !important;
    padding: 5px !important;
}
.text{
  text-align: left !important;
}
 /* Loading.. */
 .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* Akhir Loading */
/* Navbar */
.nav.fixed-top{
  background-color: #55423d;
}
.nav-item > *{
  font-family: 'Righteous', cursive;
  color: #fffffe !important;
  font-size: .5rem !important;
}

.nav-item > *:hover{
  border-bottom: 2px solid salmon;
  font-family: 'Righteous', cursive;
  color: #e78fb3 !important;
  font-size: 0.5rem !important;
  transition: .5s;
}
.cards {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.card-item {
  display: flex;
  text-decoration: none;
  color: inherit;
  max-width: 400px;
  position: relative;
  padding: 2rem;
  box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #ccc;
  background-color: #fff;
  cursor: pointer;
}
.card-item:before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform-origin: 0 bottom 0;
  transform: scaleY(0);
  transition: 0.4s ease-out;
}
.card-item:hover .card-title {
  color: #fff;
}
.card-item:hover:before {
  transform: scaleY(1);
}
.card-title {
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.333;
  transition: 0.4s ease-out;
}
/* Tablets */

@media (min-width: 768px) { 
    .introduction.hidden .contain.hidden{
        display: none !important;
    }
    .introduction{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      background-color:#55423d;
      z-index: 99999;
      overflow-y: hidden;
      display: none;
  }
    .display-1{
      font-family: 'Righteous', cursive;
      text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    body{
        font-family: 'Roboto Slab', serif;
        background-color: #795D55 !important;
    }
    .contain{
        position: fixed;
        font-size: 70px !important;
        font-family: 'Righteous', cursive;
        left: 50%;
        top: 40%;
        line-height: 4rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
        transition: 1s;
        opacity: .5;
    }
    .contain.geser{
      left: -100% !important;
      transition: .2s;
    }
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
    }
    #navbar{
        position: absolute;
        top: 15vh;
        z-index: 10;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    /* About */
    h1.about{
      font-size: 2.5rem !important;
    }

    #about .container-fluid{
        background-color: #55423d;
        color: #fffffe;
        text-align: center;
        font-family: 'Righteous', cursive;
        font-size: 1rem !important;
        padding: 5px !important;
    }
    .text{
      text-align: left !important;
    }
     /* Loading.. */
     .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */
    /* Navbar */
    .navbar-brand{
      font-size: 2rem !important;
      font-family: 'Righteous', cursive;
      color: #e78fb3 !important;
      text-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    }
    .nav-item > *{
      font-family: 'Righteous', cursive;
      color: #fffffe !important;
      font-size: 1.2rem !important;
    }

    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Righteous', cursive;
      color: #e78fb3 !important;
      font-size: 1.2rem !important;
      transition: .5s;
    }
}


/* Laptop */

@media (min-width: 1024px){
    .display-1{
        font-family: 'Righteous', cursive;
        text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    .introduction{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      background-color:#55423d;
      z-index: 99999;
      overflow-y: hidden;
      display: none;
  }
  .introduction.hidden{
    display: none !important;
   }
    /* Text Hero */
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    body{
        font-family: 'Righteous', cursive;
        background-color: #795D55 !important;
        /* background-image: linear-gradient(50% #795D55, 50% #55423d); */
    }
    .contain{
        position: fixed;
        font-size: 90px !important;
        font-family: 'Righteous', cursive;
        left: 50%;
        top: 45%;
        line-height: 5rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-shadow: 3px 3px #290a0655;
        text-align: center;
        transition: 1s;
    }
    .contain.geser{
      left: -100% !important;
      transition: .2s;
    }
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad 5%, #55423d 85%);
    }
    /* Awal Hero dan Navbar */
    #navbar{
        position: absolute;
        top: 16vh;
    }
    .bg-javanese{
        background-color: #55423d;
        color: #FFFFFe !important;
    }
    /* About */
    #about{
        min-height: 800px;
        display: flex;
        align-items: center;
        background-color: #55423d;
        color: #fffffe;
        font-family: 'Righteous', cursive;
        font-size: 1rem !important;
        position: relative;
    }
    .text{
      text-align: left !important;
    }
    /* Loading.. */
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */


    /* Navbar */
    .nav-item > *{
      font-family: 'Righteous', cursive;
      color: #fffffe !important;
      font-size: 1rem !important;
    }
    .nav-link.active{
      border-bottom: 2px solid salmon;
      font-family: 'Righteous', cursive;
      color: #e78fb3 !important;
      font-size: 1rem !important;
      transition: .5s;
    }
    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Righteous', cursive;
      color: #e78fb3 !important;
      font-size: 1rem !important;
      transition: .5s;
    }
    .nav.fixed-top{
      background-color: #55423d;
      padding: 20px;
      box-shadow: 2px 0px rgba(0, 0, 0, 0.25);
    }
    /* Artikel Budaya */

    #artikel{
      font-family: 'Righteous', cursive;
      min-height: 1000px;
    }
    .cards {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      padding: 1rem;
    }
    .card-item {
      display: flex;
      text-decoration: none;
      color: inherit;
      max-width: 400px;
      position: relative;
      padding: 2rem;
      box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #ccc;
      background-color: #fff;
      cursor: pointer;
   }
    .card-item:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      transform-origin: 0 bottom 0;
      transform: scaleY(0);
      transition: 0.4s ease-out;
   }
    .card-item:hover .card-title {
      color: #fff;
   }
    .card-item:hover:before {
      transform: scaleY(1);
   }
    .card-title {
      position: relative;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.333;
      transition: 0.4s ease-out;
   }
}

/* large Laptop */

@media (min-width: 1440px){
    .introduction{
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      background-color:#55423d;
      z-index: 99999;
      overflow-y: hidden;
  }
  .introduction.hidden{
   display: none !important;
  }
    .display-1{
      font-family: 'Righteous', cursive;
      text-shadow: 3px 3px solid rgba(0, 0, 0, 0.25);
    }
    body{
        background-color: #8A6A60 !important;
        font-family: 'Roboto Slab', serif;
        -webkit-overflow-scrolling: hidden;
        overflow-x: hidden;
    }
    .contain{
        position: absolute;
        font-family: 'Righteous', cursive;
        left: 50%;
        top: 45%;
        font-size: 120px !important;
        line-height: 6rem !important;
        transform: translate(-50%, -50%);
        color: #290A06;
        text-align: center;
        opacity: 0;
    }
    .contain.geser{
      left: -100% !important;
      transition: .2s;
    }
    .megamendung{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-image: url(img/Megamendung.svg);
        top: 0;
        background-size: cover;
        opacity: 0.5;
        z-index: 1;
    }
    #hero{
        height: 100vh;
        background-image: radial-gradient(#ffc0ad, #55423d);
    }
    #navbar{
        position: absolute;
        top: 15vh;
        z-index: 10;
    }
    .bg-javanese{
        background-color: #55423d;
    }
    #about .container-fluid{
        min-height: 1000px;
        background-color: #55423d;
    }
    h1.about{
      font-size: 4rem !important;
    }
    #about{
        background-color: #55423d;
        color: #fffffe;
        text-align: center;
        font-family: 'Righteous', cursive;
        font-size: 1.5rem !important;
    }
    .text{
      text-align: left !important;
    }
     /* Loading.. */
     .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    /* Akhir Loading */

    /* Navbar */
    .nav-item > *{
      font-family: 'Righteous', cursive;
      color: #fffffe !important;
      font-size: 2rem !important;
    }

    .nav-item > *:hover{
      border-bottom: 2px solid salmon;
      font-family: 'Righteous', cursive;
      color: #e78fb3 !important;
      font-size: 2rem !important;
      transition: .5s;
    }
}

/*footer*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#503027;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

